<mat-drawer-container class="drawer-container">
  <mat-drawer #sidebar class="pc-sidebar" [mode]="modeValue" opened>
    <nav>
      <div class="navbar-wrapper">
        <div class="m-header">
          <a href="/" class="logo-link">
            <img src="assets/images/logo.png" alt="Logo" class="logo-image" />
            <span class="version"> v{{ currentApplicationVersion }} </span>
          </a>
        </div>
        <app-vertical-menu [menus]="menus"></app-vertical-menu>
      </div>
    </nav>
  </mat-drawer>
  <app-nav-bar></app-nav-bar>
  <div class="app-container">
    <app-breadcrumb></app-breadcrumb>
    <div class="main-body">
      <div class="page-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</mat-drawer-container>
