<app-card [showHeader]="false">
  <div class="mb-3">
    <p-button severity="primary" [label]="createButtonText" icon="pi pi-plus" size="small" class="mr-2" (onClick)="createDataFunc()" />
    <p-button
      severity="danger"
      [label]="batchDeleteButtonText"
      icon="pi pi-trash"
      size="small"
      class="mr-2"
      (onClick)="deleteSelectedDataFunc()"
      [disabled]="!selectedData || !selectedData.length"
    />
    <p-button severity="secondary" [label]="reloadButtonText" icon="pi pi-sync" size="small" (onClick)="reloadDataFunc()" />
  </div>

  <p-contextMenu #ctxMenu appendTo="body" [model]="ctxMenuItems" />

  <p-table
    #primeTable
    [tableStyle]="{ 'min-width': '50rem' }"
    styleClass="p-datatable-gridlines"
    [value]="data"
    [dataKey]="dataKey"
    [(selection)]="selectedData"
    [selectionMode]="selectionMode"
    [(contextMenuSelection)]="ctxMenuSelectedItem"
    [contextMenu]="ctxMenu"
  >
    <ng-template pTemplate="header">
      @if (headerTemplate) {
        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
      }
    </ng-template>
    <ng-template pTemplate="body" let-item>
      @if (bodyTemplate) {
        <ng-container *ngTemplateOutlet="bodyTemplate; context: { $implicit: item }"></ng-container>
      }
    </ng-template>
  </p-table>

  <p-paginator
    (onPageChange)="changePageFunc($event)"
    [first]="paginatorState.first!"
    [rows]="paginatorState.rows"
    [totalRecords]="pageInfo.totalItems"
    [rowsPerPageOptions]="itemPerPageOptions"
  />
</app-card>
