<app-card [showHeader]="false">
  <div class="mb-3">
    <p-button
      severity="primary"
      [label]="tableProps.createBtnText"
      icon="pi pi-plus"
      size="small"
      class="mr-2"
      (onClick)="createDataFunc()"
    />
    <p-button
      severity="danger"
      [label]="tableProps.batchDeleteBtnText"
      icon="pi pi-trash"
      size="small"
      class="mr-2"
      (onClick)="deleteSelectedDataFunc()"
      [disabled]="!selectedData || !selectedData.length"
    />
    <p-button
      severity="secondary"
      [label]="tableProps.reloadBtnText"
      icon="pi pi-sync"
      size="small"
      (onClick)="reloadDataFunc()"
    />
  </div>

  <p-contextMenu #ctxMenu appendTo="body" [model]="ctxMenuItems" />

  <p-table
    #primeTable
    [tableStyle]="{ 'min-width': '50rem' }"
    styleClass="p-datatable-gridlines"
    [value]="data"
    [dataKey]="tableProps.dataKey"
    [(selection)]="selectedData"
    [selectionMode]="tableProps.selectionMode"
    [(contextMenuSelection)]="ctxMenuSelectedItem"
    [contextMenu]="ctxMenu"
  >
    <ng-template pTemplate="header">
      @if (headerTemplate) {
        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
      }
    </ng-template>
    <ng-template pTemplate="body" let-item>
      @if (bodyTemplate) {
        <ng-container *ngTemplateOutlet="bodyTemplate; context: { $implicit: item }"></ng-container>
      }
    </ng-template>
  </p-table>
</app-card>
