<footer class="theme-footer">
  <div class="footer-wrapper">
    <div class="flex align-item-center">
      <div class="col m-t-5 m-b-5">
        <p class="m-0">
          Swigo &#9829;
          <a href="#">ThanhLong0304</a>
        </p>
      </div>
      <div class="col-auto">
        <ul class="list-inline footer-link m-b-0">
          <li class="list-inline-item">
            <a href="mailto:thanhlongedu0304@gmail.com">thanhlongedu0304&#64;gmail.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
