<p-dropdown [options]="languages" [(ngModel)]="selectedLanguage" optionLabel="name" [itemSize]="30" placeholder="Select a languages" (onChange)="handleChangeLanguage()">
  <ng-template pTemplate="selectedItem">
    <div class="flex align-items-center gap-2" *ngIf="selectedLanguage">
      <img
        [src]="selectedLanguage.image"
        class="flag"
      />
      <div>{{ selectedLanguage.name }}</div>
    </div>
  </ng-template>
  <ng-template let-language pTemplate="item">
    <div class="flex align-items-center gap-2">
      <img
        [src]="language.image"
        class="flag"
      />
      <div>{{ language.name }}</div>
    </div>
  </ng-template>
</p-dropdown>
