// Override primeNG styles
@layer primeng {
  p-button {
    &.w-full {
      width: 100%;
      .p-button {
        width: 100%;
      }
    }
  }

  // .p-toast-summary,
  // .p-toast-detail {
  //   font-size: 0.75rem !important;
  // }

  .p-toast-message-icon {
    // font-size: 0.5rem !important;
    margin-right: 0.75rem !important;
  }

  .p-button {
    .p-button-icon.p-button-icon-left {
      margin-right: 0.32rem !important;
    }
  }

  .p-menuitem-link {
    .p-menuitem-icon {
      margin-right: 0.42rem !important;
    }
  }

  p-password {
    .p-password {
      width: 100% !important;
    }

    input.p-inputtext {
      width: 100% !important;
    }

    eyeicon.p-icon-wrapper,
    eyeslashicon.p-icon-wrapper {
      transform: translateY(-50%) !important;
    }
  }

  .p-confirm-popup {
    transform: translateY(18px) !important;

    .p-confirm-popup-content {
      padding-top: 1.125rem !important;

      .p-confirm-popup-icon {
        margin-right: 0.55rem !important;
      }
    }
  }

  .p-confirm-dialog {
    .p-dialog-content {
      .p-confirm-dialog-icon {
        margin-right: 0.55rem !important;
      }
    }
  }
}
