<app-table-data #tableData [data]="users" [pageInfo]="pageInfo" (createData)="openCreateOrUpdateDialog()" (changePage)="changePage($event)" (reloadData)="reloadData()">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
      <th>Username</th>
      <th>Email</th>
      <th>Nick Name</th>
      <th>UUID</th>
      <th>Created At</th>
      <th style="width: 5rem"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr [pContextMenuRow]="user">
      <td>
        <p-tableCheckbox [value]="user" />
      </td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.nickName }}</td>
      <td>{{ user.uuid }}</td>
      <td>{{ user.createdAt | date: 'short' }}</td>
      <td style="text-align: center">
        <p-button severity="secondary" [outlined]="true" icon="pi pi-cog" (onClick)="showContextMenu($event, user)" />
      </td>
    </tr>
  </ng-template>
</app-table-data>

<app-create-or-update-user [(visible)]="createOrUpdateDialogVisible" (afterSubmit)="reloadData()"></app-create-or-update-user>
