<app-table-data [data]="users">
  <ng-template pTemplate="header">
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Nick Name</th>
      <th>UUID</th>
      <th>Created At</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.username }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.nickName }}</td>
      <td>{{ item.uuid }}</td>
      <td>{{ item.createdAt | date: 'short' }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="createOrUpdateDialog">
    <div class="flex flex-column gap-2 mb-4">
      <label for="username">{{ 'enter_your_username' | i18next }}</label>
      <input pInputText id="username" aria-describedby="username-help" formControlName="username" (blur)="showToastValidateForm('username')" />
      @if (usernameIsInvalid) {
        <small class="text-red-400">{{ 'username_invalid' | i18nextNamespace: 'validation' }}</small>
      }
    </div>
    <div class="flex flex-column gap-2 mb-4">
      <label for="password">{{ 'enter_your_password' | i18next }}</label>
      <input pInputText id="password" aria-describedby="password-help" formControlName="password" (blur)="showToastValidateForm('password')" />
      <small>{{ 'password_min_length' | i18nextNamespace: 'validation' }}</small>
      @if (passwordIsInvalid) {
        <small class="text-red-400">{{ 'password_invalid' | i18nextNamespace: 'validation' }}</small>
      }
    </div>
  </ng-template>
</app-table-data>
