<app-table-data
  #tableData
  [data]="users"
  [(pageInfo)]="pageInfo"
  (createData)="openCreateOrUpdateDialog()"
  (changePage)="changePage($event)"
  (reloadData)="reloadData()"
  (sort)="sortData($event)"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
      <th pSortableColumn="username" style="width: 200px">
        Username
        <p-sortIcon field="username" />
      </th>
      <th pSortableColumn="email" style="width: 200px">
        Email
        <p-sortIcon field="email" />
      </th>
      <th pSortableColumn="nickName" style="width: 200px">
        Nick Name
        <p-sortIcon field="nickName" />
      </th>
      <th style="width: 200px">UUID</th>
      <th pSortableColumn="createdAt" style="width: 200px">
        Created At
        <p-sortIcon field="createdAt" />
      </th>
      <th style="width: 100px"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr [pContextMenuRow]="user">
      <td>
        <p-tableCheckbox [value]="user" />
      </td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.nickName }}</td>
      <td>{{ user.uuid }}</td>
      <td>{{ user.createdAt | date: 'short' }}</td>
      <td style="text-align: center">
        <p-button severity="secondary" [outlined]="true" icon="pi pi-cog" (onClick)="showContextMenu($event, user)" />
      </td>
    </tr>
  </ng-template>
</app-table-data>

<app-create-or-update-user #createOrUpdateUserDialog (afterSubmit)="reloadData()"></app-create-or-update-user>
